body {
    background-color: #282828;
    font-family: sans-serif;
    color: #ebdbb2;
    margin-left: 2em;
    width: 80%;
}

h1 {
    color: #fe8019;
}

h2 {
    color: #fabd2f;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul.nested li {
    margin-left: 2em;
}

ul.nested li ul {
    border-left: 1px dashed #928374;
}

a {
    color: #83a598;
}

blockquote {
    background-color: #3c3836;
}

span.author_op {
    font-weight: bold;
    color: #fb4934;
}

span.author {
    font-weight: bold;
    color: #b8bb26;
}

hr {
    border-color: #ebdbb2;
}

img {
    max-width: 80%;
    height: auto;
}

span.nobr { white-space: nowrap; }
