body {
    background-color: #fbf1c7;
    font-family: sans-serif;
    color: #3c3836;
    margin-left: 2em;
    width: 80%;
}

h1 {
    color: #af3a03;
}

h2 {
    color: #b57614;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul.nested li {
    margin-left: 2em;
}

ul.nested li ul {
    border-left: 1px dashed #928374;
}

a {
    color: #076678;
}

blockquote {
    background-color: #ebdbb2;
}

span.author_op {
    font-weight: bold;
    color: #9d0006;
}

span.author {
    font-weight: bold;
    color: #79740e;
}

hr {
    border-color: #3c3836;
}

img {
    max-width: 80%;
    height: auto;
}

span.nobr { white-space: nowrap; }
